:80 {
  @metrics path /metrics
  handle @metrics {
    reverse_proxy http://habits-server:8080
  }

  @health path /healthz /readyz /version
  handle @health {
    reverse_proxy http://habits-server:8080
  }

  @api path /api/*
  handle @api {
    uri strip_prefix /api
    reverse_proxy http://habits-server:8080
  }

  handle {
    root * /usr/share/caddy
    encode zstd gzip
    try_files {path} /index.html
    file_server
  }
}