:80 {
	# --- API under /api/*
	handle_path /api/* {
		reverse_proxy habits-server:8080
	}

	# --- SPA static files + fallback ---
	root * /usr/share/caddy
	encode zstd gzip

	@notFile {
		not file {
      try_files {path}
		}
	}
	rewrite @notFile /index.html

	file_server
}
